
.btn-primary{
    background-color: Drgb(244, 208, 3);
    border-color: black;

}
.btn-primary:hover{
    background-color: red; 
    border-color: black;
}

.headshot{
    width: auto;
    height: 200px;
}

.long-section{
    height:50vh;
}

small,
.small,
.badge,
.table-sm td,
.table-sm th {
    font-size: 16px !important;
}

/* Badges need extra padding when enlarged */
.badge {
    padding: 0.35em 0.6em !important;
}


#skills .list-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;       
  padding-left: 0;
  margin: 0;
  list-style: none;
}

#skills .list-inline-item {
  padding-right: 0;  
}